{% extends "base.html" %} {% block title %}AboutUs{% endblock %} 

{% block head %}
  <h1 style="text-align: center; margin: 0; padding-top: 2px;">About_Us</h1>
{% endblock %} 

{% block content %}
<h1 align="center">Hi {{user.user_name}}</h1>
<p class="forming-style">This is a project developed by students of the University of Pisa (Italy).<br/>
    The aim of this platform is to provide an easy and intuitive way for users to share their knowledge about different topics.<br/> 
    The aim of this platform is to provide easy  access and information about scientific researches conducted at the
    The aim of this website is to provide</p>

    <h1 align="center">Thank Your for Visiting</h1>



{% endblock %}