{% extends "base.html" %} {% block title %}AboutUs{% endblock %} 

{% block head %}
  <h1 style="text-align: center; margin: 0; padding-top: 2px;">About_Us</h1>
{% endblock %} 

{% block content %}
<h1 align="center">Hi {{user.user_name}}</h1>
<div align="center">
  <div style="box-sizing: border-box; box-shadow: 0 0 10px rgba(0, 0, 0, .5); text-align: center;  width: 1220px; height: 1550px; background-color: black; color: white; border-radius: 5px; padding: 10px;" align="center">
    <p>
    <h1>  Welcome to Al_Ansar Technologies</h1>
    
    Founded in 2023, <span style="font-weight: bolder; color: lawngreen;">Al_Ansar Technologies</span> is a pioneering technology company dedicated to driving innovation and excellence in the digital realm. Our journey began with a vision to transform the way businesses leverage technology to achieve their goals, and we've since grown into a trusted partner for organizations seeking cutting-edge solutions tailored to their unique needs.
    </p>
    
    
    <p>
    <h1>Meet Our Founder <br>
      <img src="{{ url_for('static', filename='founder.jpg') }}" alt="Logo" width="100" height="100" style="border-radius: 100px; box-sizing: border-box; box-shadow: 0 0 10px rgba(0, 0, 0, .5);" align="center"><br>
      <span style="font-weight: bolder; color: rgb(115, 7, 255);">Momin Mohasin</span></h1>
    
    
    <span style="font-weight: bolder; color: rgb(115, 7, 255);">Momin Mohasin</span>, the visionary behind <span style="font-weight: bolder; color: lawngreen;">Al_Ansar Technologies</span>, is a seasoned entrepreneur with a passion for harnessing the power of technology to solve complex challenges. With a background in Software Development, <span style="font-weight: bolder; color: rgb(115, 7, 255);">Momin Mohasin</span> brings [x] years of experience and expertise to the table, driving the company's growth and success through his/her visionary leadership and strategic insights.
    </p>
    <p>
    <h1>Our Commitment to Excellence</h1>
    
    At <span style="font-weight: bolder; color: lawngreen;">Al_Ansar Technologies</span>, we're driven by a commitment to excellence in everything we do. From developing innovative software solutions to providing exceptional customer service, we hold ourselves to the highest standards of quality, integrity, and professionalism. Our team of talented professionals, guided by our founder's vision and leadership, works tirelessly to deliver tangible results and exceed our clients' expectations.
    </p>
    
    <p>
    <h1>Our Logo <br>
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" width="100" height="100" style="border-radius: 100px; box-sizing: border-box; box-shadow: 0 0 10px rgba(0, 0, 0, .5);" align="center">
    
    </h1>
    
    Our logo symbolizes our commitment to innovation, collaboration, and forward-thinking. Inspired by the resilience and determination of the majestic eagle, our logo embodies the core values and aspirations of our company. <br>
    
    <ul style="text-align: left;">
      <li>
        <h4>Strength and Power:</h4> Eagles are often seen as symbols of strength and power, owing to their sharp talons and impressive wingspan. Similarly, our organization prides itself on its resilience and ability to overcome challenges, demonstrating strength and determination in every endeavor. <br>
      </li>
      <li>
        <h4>Freedom:</h4> Just like the eagle, which soars freely through the skies, our company embraces the spirit of freedom. We believe in fostering an environment where creativity and individuality thrive, empowering our team members to explore new ideas and push the boundaries of innovation. <br>
      </li>
      <li>
        <h4>Intelligence:</h4> With its keen perception and strategic prowess, the eagle symbolizes intelligence and foresight. Likewise, our company embraces a culture of continuous learning and innovation, leveraging cutting-edge technologies and strategic insights to drive progress and stay ahead in a dynamic market landscape.
    
    By incorporating these elements into our logo, we aim to reflect our values of strength, freedom, and intelligence, while also inspiring confidence and trust among our stakeholders.
      </li>
    </ul>
    
    
    </p>
    
    <p>
    <h1>Get in Touch</h1>
    
    Thank you for considering <span style="font-weight: bolder; color: lawngreen;">Al_Ansar Technologies</span> as your technology partner. Whether you're looking to embark on a new project, explore innovative solutions, or simply learn more about what we do, we're here to help. Get in touch with us today to discuss how we can collaborate and unlock new possibilities together.
    </p>
    </div>
</div>


    <marquee behavior="Alternate" direction="Up"><h1 align="center">Thank Your for Visiting Our Site</h1></marquee>



{% endblock %}