{% extends "base.html" %}
{% block head %}
  <h1 style="text-align: center; margin: 0;">Draw Pattern</h1>
{% endblock %}

{% block content %}
<br>
<div align="center">
    <button type="button" class="btn"><a href="/display_canvas">All Patterns</a></button>
</div>
<div align="center" class="patt">
  <input type="hidden" id="userId" value="{{ current_user.id }}">
  <input type="hidden" id="templateId" value="{{ template_id }}">
  <canvas id="drawingCanvas" width="800" height="600"></canvas>
  <div style="display: flex;">
      <input type="range" id="brushSize" min="1" max="10" value="5" style=" width: 400px;" >
      <button id="clearButton" class="bttn" style="margin-left: 10px;">Clear</button>
      <button id="saveButton" class="sav" style="margin-left: 10px;">Save</button>
      <button id="downloadButton" class="down" style="margin-left: 10px;">Download</button>
  </div>
</div>
<script>
  const canvas = document.getElementById('drawingCanvas');
  const ctx = canvas.getContext('2d');
  let isDrawing = false;
  let lastX = 0;
  let lastY = 0;
  let hue = 0;
  let direction = true;

  // Set default background color to black
  ctx.fillStyle = '#000000';
  ctx.fillRect(0, 0, canvas.width, canvas.height);


  // Function to draw on the canvas
  function draw(e) {
      if (!isDrawing) return;
      ctx.strokeStyle = `hsl(${hue}, 100%, 50%)`;
      ctx.lineWidth = document.getElementById('brushSize').value;
      ctx.beginPath();
      ctx.moveTo(lastX, lastY);
      ctx.lineTo(e.offsetX, e.offsetY);
      ctx.stroke();
      [lastX, lastY] = [e.offsetX, e.offsetY];
      hue++;
      if (hue >= 360) {
          hue = 0;
      }
      if (ctx.lineWidth >= 100 || ctx.lineWidth <= 1) {
          direction = !direction;
      }
      if (direction) {
          ctx.lineWidth++;
      } else {
          ctx.lineWidth--;
      }
  }

  // Event listeners for mouse actions
  canvas.addEventListener('mousedown', (e) => {
      isDrawing = true;
      [lastX, lastY] = [e.offsetX, e.offsetY];
  });

  canvas.addEventListener('mousemove', draw);
  canvas.addEventListener('mouseup', () => isDrawing = false);
  canvas.addEventListener('mouseout', () => isDrawing = false);




  // Event listener for the clear button
  document.getElementById('clearButton').addEventListener('click', () => {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
  });

  // Event listener for the save button
  document.getElementById('saveButton').addEventListener('click', () => {
      const canvasData = canvas.toDataURL(); // Get canvas data as a data URL
      const userId = document.getElementById('userId').value; // Get the user ID from the hidden input
      const templateId = document.getElementById('templateId').value; // Get the template ID from the hidden input

      fetch('/save_canvas_image', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ canvasData, userId, templateId }) // Send canvas data, user ID, and template ID
      })
      .then(response => response.json())
      .then(data => {
          console.log(data);
          alert('Canvas image saved successfully');
      })
      .catch(error => {
          console.error('Error saving canvas image:', error);
          alert('Error saving canvas image');
      });
  });

  // Event listener for the download button
  document.getElementById('downloadButton').addEventListener('click', () => {
      const link = document.createElement('a');
      link.download = 'canvas.png';
      link.href = canvas.toDataURL();
      link.click();
  });
</script>




{% endblock %}

